
main{
    flex: 1;
    flex-direction: row;
    display: flex;
    height: 100%;
    width: 100%;
}

.animals{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 240px;
    grid-gap:1em;
    flex: 1;
    margin: 10px;
}

.animal{
    width: 150px;
    height: 200px;
}

/* add name and creator on click */