body {
    font-family: 'Amatic SC', cursive;
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }
  
  header {
    font-family: 'Amatic SC', cursive;
    flex: 0 80px;
  }
  
  main {
    font-family: 'Amatic SC', cursive;
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: space-around;
    background-color: lavender;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    padding-top: 40px;
    width: 100vw;
    font-family: 'Amatic SC', cursive;
    color: 
    flex: 0 30px;
    text-align: center;
    display: inline-block;
  }

  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer-menu{
    margin-bottom: 20px;
    list-style: none;
  }

  .footer-menu ul{
    display:flex;
  }

  .footer-menu ul li{
    padding-right: 10px;
    display: block;
  }
  
  menu {
    font-family: 'Amatic SC', cursive;
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
  }
  navbar-nav {
    float: right;
  }
  
  .navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
  }
  
  menu .nav-item {
    float: right;
    padding: 0 0.3em;
  }
  
  